body {
  font-family: Roboto, sans-serif;
  background: #F2F2F2;
}

/* container */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 87vh;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: #fff;
}

footer span {
  font-size: 3em !important;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: .3s;
  padding-top: 3px;
}

footer span:hover {
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer .github {
  border-radius: 50%;
  border: 1px solid #fff;
  background: #6e5494;
  width: 55px;
  height: 55px;
  transition: .3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer .github:hover {
  background: #767676;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

/* general */
.card {
  background-color: #FFF;
  border-radius: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
  width: 215px;
  height: auto;
  margin-bottom: 20px;
  transition: .5s;
}

.card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

.close {
  border-radius: 50%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  float: right;
  top: -228px;
  right: -6px;
  font-size: 2em;
  position: relative;
  color: #fff;
  transition: .5s;
}

.close:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

img {
  width: 215px;
  border-radius: 3% 3% 0 0;
}

h4 {
  font-size: 1.2em;
  margin: 15px;
  color: #757575;
}

/* Button reset */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Common button styles */
button {
  border-radius: 50%;
  width: 215px;
  height: 215px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition-timing-function: ease-in;
  transition: 0.3s;
  transform: scale(0.7);
}

button:hover {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

button.disabled {
  background-color: #999 !important;
  cursor: no-drop;
}

button.disabled:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

button.disabled:hover span {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

button span {
  font-size: 10em !important;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  color: #fff;
}

button:hover span {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-1.1deg)
}

/* Twitter */
button.twitter {
  border: 3px solid #ffffff;
  background: #433e90
}

button.twitter:hover {
  background: #326ada;
}